@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: hsl(0, 100%, 74%);
  background-image: url(images/bg-intro-mobile.png);
  font-family: 'Poppins', sans-serif;
  min-height:100vh ;
}
@media all and (min-width:1024px){
  body{
    background-image: url(images/bg-intro-desktop.png);
  }
  .section1{
   
    grid-area: section1;
  }
  .section2{
   
    grid-area: section2;
  }
  main{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 100vh;
    align-items: center;
    grid-template-areas: 
    "section1 section2" 
    "section1 section2";
  }
}